<mat-toolbar>Place Order</mat-toolbar>
<div class="container margin">
    <!-- <span class="fill"></span>
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Menu</mat-card-title>
            <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card> -->
    <span class="fill"></span>
    <div class="container-column">
        <mat-card class="menu">
            <mat-card-header>
                <mat-card-title>Menu</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-list *ngFor="let item of items">
                    <mat-divider></mat-divider>
                    <mat-list-item> {{item.name}}<span class="fill"></span>£{{item.price}} <button mat-button
                            (click)="addItem(item)">
                            <mat-icon>add_box</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </div>
    <span class="fill"></span>
    <div class="container-column">
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Your Order</mat-card-title>
                <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-list *ngFor="let item of order.items">
                    <mat-divider></mat-divider>
                    <mat-list-item>
                        <button mat-button (click)="removeItem(item)">
                            <mat-icon>indeterminate_check_box</mat-icon>
                        </button> {{item.name}} <span class="fill"></span>£{{item.price}} </mat-list-item>
                </mat-list>
                <mat-list>
                    <mat-divider></mat-divider>
                    <mat-list-item> Total<span class="fill"></span>£{{order.total}} </mat-list-item>
                    <mat-divider></mat-divider>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <div class="container">
                    <span class="fill"></span>
                    <button mat-button routerLink="/checkout"> Checkout</button>
                    <span class="fill"></span>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <span class="fill"></span>
</div>