<mat-toolbar class="toolbar" color="primary">
  <button mat-button routerLink="/home">Chen's Chinese Takeaway</button>
  <span class="fill"></span>
  <button mat-button (click)="sideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #sideNav mode="over" opened="false" [position]="nav_position">
    <div>
      <button mat-button routerLink="/home">
        <mat-icon>home</mat-icon>Home
      </button>
    </div>
    <div>
      <button mat-button  routerLink="/about">
        <mat-icon>store</mat-icon>About Us
      </button>
    </div>
    <div>
      <button mat-button routerLink="/order">
        <mat-icon>restaurant</mat-icon>Place Order
      </button>
    </div>
    <div>
      <button mat-button routerLink="/rate">
        <mat-icon>star_rate</mat-icon>Rate Us
      </button>
    </div>
    <div [hidden]="apiService.getLoggedInStatus">
      <div>
        <button mat-button routerLink="/login">
          <mat-icon>perm_identity</mat-icon>Login
        </button>
      </div>
      <div>
        <button mat-button routerLink="/register"> Sign Up </button>
      </div>
    </div>
    <div [hidden]="!apiService.getLoggedInStatus">
      <div>
        <button mat-button routerLink="/account">
          <mat-icon>perm_identity</mat-icon>Account
        </button>
      </div>
      <div>
        <button mat-button (click)="signOut()"> Sign Out </button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="footer" style="background-color:rgb(221, 162, 255);">
  <!-- Address: <br> address line 1 <br> address line 2 <br> city <br> region <br> XXXXXXXX -->
</div>